@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.navbar .navbar-brand{
    font-size: 1.5rem !important;
    font-family: 'Dancing Script', cursive ;
}
.navbar-brand a:hover{
    cursor: default;
}
.navbar .nav-link{
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.navbar .nav-item.active{
    border-left: #444 3px solid ;
}